{% extends "layouts/base.html" %}

{% block title %} HRMS {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <!-- Page plugins -->
  <link rel="stylesheet" href="/static/assets/vendor/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="/static/assets/vendor/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css">
  <link rel="stylesheet" href="/static/assets/vendor/datatables.net-select-bs4/css/select.bootstrap4.min.css">
 

  <!-- Header -->
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Leave Types </h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <!-- <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-user"></i></a></li>
                <li class="breadcrumb-item"><a href="#">All Types</a></li>
              </ol> -->
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a href="{% url 'add_leave_type' %}" class="btn btn-sm btn-neutral">Add</a> 
            <!-- <a href="#" class="btn btn-sm btn-neutral">Filters</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Page content -->
  <div class="container-fluid mt--6">
    
    <!-- Table -->
    <div class="row">
      <div class="col">
      
        <div class="card">
          <!-- Card header -->
          <div class="card-header">
            <!-- <h3 class="mb-0">Leave Types</h3> -->
            <!-- <p class="text-sm mb-0">
              This is an exmaple of datatable using the well known datatables.net plugin. This is a minimal setup in order to get started fast.
            </p> --> 
          </div>
          <div class="table-responsive py-4">
            <table class="table table-flush" id="datatable-basic">
              <thead class="thead-light">
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Unit</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
             
              <tbody>
                {% for types in leave_types %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{types.name}}</td>
                    <td>{{types.type}}</td>
                    <td>{{types.unit}}</td>

                    {% if types.is_active == 1 %}
                    <td>
                        <label class="custom-toggle custom-toggle-success">
                        <a title="Edit" href="{% url 'change_status' types.id 0 %}" value="1">
                            <input value="1" name="status" type="checkbox" title="Change" checked>
                            <span class="confirm-change custom-toggle-slider rounded-circle" title="Change" data-label-off="No" data-label-on="Active"></span>
                        </a>
                      </label> 
                    </td>
                    {% else %}
                    <td>
                        <label class="custom-toggle">
                        <a title="Edit" href="{% url 'change_status' types.id 1 %}" value="1">
                            <input value="0" name="status" type="checkbox" title="Change">
                            <span class="confirm-change custom-toggle-slider rounded-circle" title="Change" data-label-off="No" data-label-on="Active"></span>
                        </a>
                      </label> 
                    </td>
                    
                        
                    {% endif %}

                    <td>
                        <a class="fas fa-edit" title="Edit" href="{% url 'edit_leave_type' types.id %}"></a>
                        <a class="confirm-delete fas fa-trash" title="Delete" href="#"></a>
                
                    </td>
                    
                   
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <!-- Optional JS -->
   <!-- Optional JS -->
   <script src="/static/assets/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
   <script src="/static/assets/vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <!-- <script src="/static/assets/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
   <script src="/static/assets/vendor/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script> --> -->
  <script src="/static/assets/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
   <!-- <script src="/static/assets/vendor/datatables.net-buttons/js/buttons.flash.min.js"></script>
   <script src="/static/assets/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
   <script src="/static/assets/vendor/datatables.net-select/js/dataTables.select.min.js"></script>  -->
  
    <script type="text/javascript">
        $(document).on('click', '.confirm-delete', function(){
            return confirm('Are you sure you want to delete this leave type?');
        })

        $(document).on('click', '.confirm-change', function(){
            return confirm('Are you sure you want to change the status?');
        })


      //   $(document).ready(function() {
          
      //       $('#datatable-basic').dataTable({
      //       "bDestroy": true
      //   }).fnDestroy();

      //   $('#datatable-basic').dataTable({
      //       "aoColumnDefs": [{
      //           "bSortable": false,
      //           "aTargets": ["sorting_disabled"]
      //       }],
      //       "bDestroy": true
      //   }).fnDestroy();

      //      /* $('#datatable-basic').DataTable( {
      //           dom: 'Bfrtip',
               
      //           buttons: [
      //               'copy', 'csv', 'excel', 'pdf', 'print'
      //           ],
                
      //       //     language: {
      //       //     paginate: {
      //       //         previous: "<i class='fas fa-angle-left'>",
      //       //         next: "<i class='fas fa-angle-right'>"
      //       //     }
      //       // }
            
             
      //       } );  */
      //   } );


    </script>

{% endblock javascripts %}


