{% extends "layouts/base.html" %}

{% block title %} Timeline {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <!-- Header -->
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Timeline</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active" aria-current="page">Timeline</li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a href="#" class="btn btn-sm btn-neutral">New</a>
            <a href="#" class="btn btn-sm btn-neutral">Filters</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Page content -->
  <div class="container-fluid mt--6">

    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header bg-transparent">
            <h3 class="mb-0">Timeline</h3>
          </div>
          <div class="card-body">
            <div class="timeline timeline-one-side" data-timeline-content="axis" data-timeline-axis-style="dashed">
              <div class="timeline-block">
                <span class="timeline-step badge-success">
                  <i class="ni ni-bell-55"></i>
                </span>
                <div class="timeline-content">
                  <small class="text-muted font-weight-bold">10:30 AM</small>
                  <h5 class=" mt-3 mb-0">New message</h5>
                  <p class=" text-sm mt-1 mb-0">Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                  <div class="mt-3">
                    <span class="badge badge-pill badge-success">design</span>
                    <span class="badge badge-pill badge-success">system</span>
                    <span class="badge badge-pill badge-success">creative</span>
                  </div>
                </div>
              </div>
              <div class="timeline-block">
                <span class="timeline-step badge-danger">
                  <i class="ni ni-html5"></i>
                </span>
                <div class="timeline-content">
                  <small class="text-muted font-weight-bold">10:30 AM</small>
                  <h5 class=" mt-3 mb-0">Product issue</h5>
                  <p class=" text-sm mt-1 mb-0">Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                  <div class="mt-3">
                    <span class="badge badge-pill badge-danger">design</span>
                    <span class="badge badge-pill badge-danger">system</span>
                    <span class="badge badge-pill badge-danger">creative</span>
                  </div>
                </div>
              </div>
              <div class="timeline-block">
                <span class="timeline-step badge-info">
                  <i class="ni ni-like-2"></i>
                </span>
                <div class="timeline-content">
                  <small class="text-muted font-weight-bold">10:30 AM</small>
                  <h5 class=" mt-3 mb-0">New likes</h5>
                  <p class=" text-sm mt-1 mb-0">Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                  <div class="mt-3">
                    <span class="badge badge-pill badge-info">design</span>
                    <span class="badge badge-pill badge-info">system</span>
                    <span class="badge badge-pill badge-info">creative</span>
                  </div>
                </div>
              </div>
              <div class="timeline-block">
                <span class="timeline-step badge-success">
                  <i class="ni ni-bell-55"></i>
                </span>
                <div class="timeline-content">
                  <small class="text-muted font-weight-bold">10:30 AM</small>
                  <h5 class=" mt-3 mb-0">New message</h5>
                  <p class=" text-sm mt-1 mb-0">Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                  <div class="mt-3">
                    <span class="badge badge-pill badge-success">design</span>
                    <span class="badge badge-pill badge-success">system</span>
                    <span class="badge badge-pill badge-success">creative</span>
                  </div>
                </div>
              </div>
              <div class="timeline-block">
                <span class="timeline-step badge-danger">
                  <i class="ni ni-html5"></i>
                </span>
                <div class="timeline-content">
                  <small class="text-muted font-weight-bold">10:30 AM</small>
                  <h5 class=" mt-3 mb-0">Product issue</h5>
                  <p class=" text-sm mt-1 mb-0">Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                  <div class="mt-3">
                    <span class="badge badge-pill badge-danger">design</span>
                    <span class="badge badge-pill badge-danger">system</span>
                    <span class="badge badge-pill badge-danger">creative</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card bg-gradient-default shadow">
          <div class="card-header bg-transparent">
            <h3 class="mb-0 text-white">Dark timeline</h3>
          </div>
          <div class="card-body">
            <div class="timeline timeline-one-side" data-timeline-content="axis" data-timeline-axis-style="dashed">
              <div class="timeline-block">
                <span class="timeline-step badge-success">
                  <i class="ni ni-bell-55"></i>
                </span>
                <div class="timeline-content">
                  <small class="text-light font-weight-bold">10:30 AM</small>
                  <h5 class="text-white mt-3 mb-0">New message</h5>
                  <p class="text-light text-sm mt-1 mb-0">Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                  <div class="mt-3">
                    <span class="badge badge-pill badge-success">design</span>
                    <span class="badge badge-pill badge-success">system</span>
                    <span class="badge badge-pill badge-success">creative</span>
                  </div>
                </div>
              </div>
              <div class="timeline-block">
                <span class="timeline-step badge-danger">
                  <i class="ni ni-html5"></i>
                </span>
                <div class="timeline-content">
                  <small class="text-light font-weight-bold">10:30 AM</small>
                  <h5 class="text-white mt-3 mb-0">Product issue</h5>
                  <p class="text-light text-sm mt-1 mb-0">Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                  <div class="mt-3">
                    <span class="badge badge-pill badge-danger">design</span>
                    <span class="badge badge-pill badge-danger">system</span>
                    <span class="badge badge-pill badge-danger">creative</span>
                  </div>
                </div>
              </div>
              <div class="timeline-block">
                <span class="timeline-step badge-info">
                  <i class="ni ni-like-2"></i>
                </span>
                <div class="timeline-content">
                  <small class="text-light font-weight-bold">10:30 AM</small>
                  <h5 class="text-white mt-3 mb-0">New likes</h5>
                  <p class="text-light text-sm mt-1 mb-0">Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                  <div class="mt-3">
                    <span class="badge badge-pill badge-info">design</span>
                    <span class="badge badge-pill badge-info">system</span>
                    <span class="badge badge-pill badge-info">creative</span>
                  </div>
                </div>
              </div>
              <div class="timeline-block">
                <span class="timeline-step badge-success">
                  <i class="ni ni-bell-55"></i>
                </span>
                <div class="timeline-content">
                  <small class="text-light font-weight-bold">10:30 AM</small>
                  <h5 class="text-white mt-3 mb-0">New message</h5>
                  <p class="text-light text-sm mt-1 mb-0">Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                  <div class="mt-3">
                    <span class="badge badge-pill badge-success">design</span>
                    <span class="badge badge-pill badge-success">system</span>
                    <span class="badge badge-pill badge-success">creative</span>
                  </div>
                </div>
              </div>
              <div class="timeline-block">
                <span class="timeline-step badge-danger">
                  <i class="ni ni-html5"></i>
                </span>
                <div class="timeline-content">
                  <small class="text-light font-weight-bold">10:30 AM</small>
                  <h5 class="text-white mt-3 mb-0">Product issue</h5>
                  <p class="text-light text-sm mt-1 mb-0">Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                  <div class="mt-3">
                    <span class="badge badge-pill badge-danger">design</span>
                    <span class="badge badge-pill badge-danger">system</span>
                    <span class="badge badge-pill badge-danger">creative</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include 'includes/footer.html' %}

  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
