{% extends "layouts/base.html" %}

{% block title %} Datatables {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <!-- Page plugins -->
 

  <!-- Header -->
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Leave</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-user"></i></a></li>
                <li class="breadcrumb-item"><a href="#">All Leave Requests</a></li>
                <!-- <li class="breadcrumb-item active" aria-current="page">Datatables</li> -->
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a href="{% url 'add_leave_request' %}" class="btn btn-sm btn-neutral">Add</a> 
            <a href="#" class="btn btn-sm btn-neutral">Filters</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Page content -->
  <div class="container-fluid mt--6">
    
    <!-- Table -->
    <div class="row">
      <div class="col">
      
        <div class="card">
          <!-- Card header -->
          <div class="card-header">
            <h3 class="mb-0">Leave Request</h3>
            <!-- <p class="text-sm mb-0">
              This is an exmaple of datatable using the well known datatables.net plugin. This is a minimal setup in order to get started fast.
            </p> --> 
          </div>
          <div class="table-responsive py-4">
            <table class="table table-flush" id="datatable">
              <thead class="thead-light">
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Form Date</th>
                  <th>To Date</th>
                  <!-- <th>Total Days</th> -->
                  <!-- <th>Reason</th> -->
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              
              <tbody>
                {% for req in leave_request %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td class="nr" data-queryid="{{ req.id }}">{{req.employee_id}} {{req.name}}</td>
                  <td>{{req.leave_type}}</td> 
                  <td>{{req.from_date|date:"d-m-Y" }}</td>
                  <td>{{req.to_date|date:"d-m-Y" }}</td>
                  <!-- <td>{{req.total_days}}</td> -->
                  <!-- <td>{{req.team_mailid}}</td> -->
                  <!-- <td>{{req.reason}}</td> -->
                  <!-- <td>{{req.is_approved}}</td> -->
                  <td>pending</td>
                    <td>
                        <a class="fas fa-eye use-address" style="color: #5e72e4;" data-toggle="tooltip" data-original-title="Edit" title="View More Info"></a> 
                        &nbsp;&nbsp;
                        <!-- <a class="fas fa-edit" data-toggle="tooltip" data-original-title="Edit" title="Edit" href="{% url 'update_leave_request' req.id %}"></a> -->
                        &nbsp;&nbsp;
                        <a href="{% url 'delete_leave_request' req.id %}" class="confirm-delete fas  table-action-delete" data-toggle="tooltip" data-original-title="Delete Request">
                              <i class="fas fa-trash"></i>
                            </a> 
                    </td>
                   
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    {% include 'includes/footer.html' %}
    
  </div>


  <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <!-- <button type="button" class="btn btn-block btn-primary mb-3" data-toggle="modal" data-target="#modal-default">Default</button> -->
          <div id="myModal" class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
            <div class="modal-dialog modal-lg modal- modal-dialog-centered modal-" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h6 class="modal-title" id="modal-title-default">Leave Request Other Details</h6>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div id="section-1" >
                 <div class="row">
                     <div class="col-lg-3"><span style="color: blue;">Total Days :</span></div> <div class="col-lg-3"><span style="font-weight: 700;" id="total_days_other"></span></div>
                     <div class="col-lg-3"><span style="color: blue;">Team Mail ID : </span></div> <div class="col-lg-3"> <span style="font-weight: 700;" id="team_mailid_other"></span></div>
                 </div>
                 <hr class="my-3" />
                 <div class="row">
                  <div class="col-lg-3"><span style="color: blue;">Reason :</span></div> <div class="col-lg-9"> <span style="font-weight: 700;" id="reason_other"></span></div>
                 
              </div>
              <hr class="my-3" />
                 <div class="row">
                 
                  <div class="col-lg-3"><span style="color: blue;">Request  Date : </span></div> <div class="col-lg-3"> <span style="font-weight: 700;" id="request_date_other"></span></div>
              </div>
              <hr class="my-3" />
              <!-- <div class="row">
                  <div class="col-lg-3"><span style="color: blue;">Reporting To :</span> </div> <div class="col-lg-3"><span style="font-weight: 700;" id="department_other"></span></div>
                  <div class="col-lg-3"><span style="color: blue;">Source Of Hire : </span></div> <div class="col-lg-3"> <span style="font-weight: 700;" id="source_of_hire_other"></span></div>
              </div>
              
              <hr class="my-3" /> -->
                </div>
                <div id="section-3"></div>
                <div class="modal-footer">
                  <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                  <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">Close</button>
                </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <!-- Optional JS -->
  
    <script type="text/javascript">
        $(document).on('click', '.confirm-delete', function(){
            return confirm('Are you sure you want to delete this request?');
        })


        $(".use-address").click(function() {   
           $('#myModal').modal('show');
            var csrftoken = getCookie('csrftoken');
          //  alert(csrftoken);

      var $id = $(this).closest("tr")   // Finds the closest row <tr> 
                       .find(".nr")     // Gets a descendent with class="nr"
                       .data("queryid"); //alert($id);
      $.ajax({  
            type: "POST",  
            url: "/leave_request_more_info",  
            data: {"csrfmiddlewaretoken": csrftoken,"id": $id},
            success: function(data) {  //alert(JSON.stringify(data));
                  var check = false;
                  jQuery.each(data, function(index, item) {
                        // alert(item.fields.employee_id);
                        if(check == false)
                        {

                              var d =new Date(item.fields.created_at);
                              var day = d.getDate();
                              var month= d.getMonth()+1;
                              var year = d.getFullYear();
                              var time = d.getTime();
                              var time = d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds();
                              var result = day + "-" + month + "-" + year + " " + time;
                              
                              


                              check = true;
                             // var name = item.fields.first_name + " " + item.fields.last_name; 
                             // var mobi = item.fields.code_num  + " " + item.fields.mobile_phone; 
                              $('#total_days_other').html(item.fields.total_days);
                              $('#team_mailid_other').html(item.fields.team_mailid);
                              $('#reason_other').html(item.fields.reason);
                              $('#request_date_other').html(result);
                              // $('#department_other').html(item.fields.department);
                             
                        }
                   //now you can access properties using dot notation
                 });
                 // alert(data);
                 // $('#query-focus').html(data);
            }
            });

});


        $(document).ready(function() {
            $('#datatable').DataTable( {
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
                language: {
                paginate: {
                    previous: "<i class='fas fa-angle-left'>",
                    next: "<i class='fas fa-angle-right'>"
                }
            }
            } );
        } );

// using jQuery
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

    </script>

{% endblock javascripts %}


